APP_ENV=development
APP_URL=http://localhost:3000

# Connection Pooled Database URL for serverless application requests
DATABASE_URL=postgresql://user:password@ep-sample-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require

# Direct Unpooled Database URL for Drizzle Kit migrations
DATABASE_MIGRATION_URL=postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require

AUTH_SECRET=super-secret-key-at-least-32-characters-long
SEED_DEFAULT_PASSWORD=replace-with-a-strong-development-password
LOG_LEVEL=info

# SMTP Email Configuration (Outgoing Mail Server)
EMAIL_HOST=mail.radiotarbiyahsunnah.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=no-reply@radiotarbiyahsunnah.com
EMAIL_PASS=your-email-password-here
EMAIL_FROM_NAME=Panitia Daurah YTS
